.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container div{
    border-radius: 2%;
    padding-bottom: 5%;
}

.container h3{
    margin-left: 14%;
    margin-right: 14%;
    font-size: 11pt;
    color: black;
}

.container a img{
    border: solid 5px rgb(18, 136, 136);
}

